@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
body {
    height: 100%;
}
.vector-right {
    background-position: right;
    position: absolute;
    right: 0;
    top: -50px;
    transform: scale(1);
    z-index: -1;
    opacity: 25%;
}
.vector-left {
    transform: rotate(180deg);
     background-position: right;
    position: fixed;
    left: 0;
    bottom: -50px;
    z-index: -1;
    opacity: 25%;
}

:root {
    --color-50: #022C25;
    --color-100: #D1FAE8;
    --color-200: #A8F2D6;
    --color-300: #6FE6C1;
    --color-400: #36D1A5;
    --color-500: #13C296;
    --color-600: #079473;
    --color-700: #05775F;
    --color-800: #075E4D;
    --color-900: #074D41;
    --color-950: #022C25;

}

.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

header {
    height: 8rem;
}

header img {
    max-width: 48px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 32px;
}

header .container .voluntary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 4px 8px;
    border-radius: 32px;
    color: #FFF;
    font-size: 1.4rem;
    background-color: var(--color-600);
}

header .container .voluntary img {
    width: 22px;
}

main {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
}

main .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 12px;
}

main .text-content {
    max-width: 50%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 8px;
}

.text-content h1 {
    font-size: 5.4rem;
    font-weight: 800;
    color: var(--color-800);

}

.text-content h2 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 22px;
    color: var(--color-900);
    margin-top: 8px;
}

.shortly {
    display: flex;
    gap: 4px;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-weight: 900;
    color: var(--color-700); 
}

.shortly img {
    width: 34px;
}

.mockup img {
    max-width: 400px;
}

footer {
    height: 8rem;
}

footer .container {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    color: var(--color-900);

}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-links p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.footer-links a {
    color: var(--color-800);
    font-weight: 600;
}

.footer-links a:hover {
    color: var(--color-400);
}

@media screen and (max-width: 425px) {
    header .container .voluntary {
        display: none;
    }
    .mockup img {
        max-width: 300px;
    }
    main .text-content h1 {
        font-size: 3.2rem;
    }
}

@media screen and (max-width: 768px) {
    footer .container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        flex-direction: column-reverse;
        gap: 12px;
    }
}

@media screen and (max-width: 1024px) {
    main .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .text-content {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }
}
